# Python
__pycache__/
*.pyc

# Virtual envs
venv/
venv-main/
.venv/

# Environment variables
.env
.env.local

# Data / uploads
uploads/

# Models
*.pt
*.pth
*.h5
*.keras

# Misc
*.log
frontend/node_modules/